<div class="container-fluid">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    {% for item in enc  %}
                    
                    
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">N° Factura:</label>
                        <input type="text" class="col-lg-3  form-control" readonly value="{{item.id}}">
                        <label class="col-form-label col-lg-2 offset-lg-3">Fecha:</label>
                        <input type="text" class="col-lg-2 form-control" readonly value="{{item.fc|date:'Y-m-d'}}">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Cliente:</label>
                        <input type="text" class="col-lg-6 form-control" readonly value="{{item.cliente}}">
                        <label class="col-form-label col-lg-2">Hora:</label>
                        <input type="text" class="col-lg-2 form-control" readonly value="{{item.fc|date:'H:i:s'}}">
                    
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Empleado:</label>
                        <input type="text" class="col-lg-6 form-control" readonly value="{{item.uc.last_name|upper}} {{item.uc.first_name|upper}}">
                      
                    
                    </div>
                    {%endfor%}
                    <table class="table  table-hover " id="tablaDetail" style="width: 100%;">
                        <thead>
                            <th>Cod.</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Cant.</th>
                            <th>SubTotal</th>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{item.producto.id}}</td>

                                <td>{{item.producto.descripcion}}</td>

                                <td class="text-center">{{item.precio}}</td>
                                <td class="text-center">{{item.cantidad}}</td>
                                <td class="text-center">{{item.sub_total}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    {% for item in enc  %}
                  
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 offset-lg-8">SubTotal:</label>
                        <input type="text" class="col-lg-2 form-control" readonly value="{{item.sub_total}}">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2 offset-lg-8">IGV(S/.):</label>
                        <input type="text" class="col-lg-2 form-control" readonly value="{{item.igv}}">
                    </div>
                    <div class="form-group row">
                        <a href="#" onclick="return pdf({{item.id}})" id="" class="btn btn-primary col-lg-2" href="#" role="button"><i class="fas fa-print"></i>&nbsp;Imprimir</a>
                        <label class="col-form-label col-lg-2 offset-lg-6">Total:</label>
                        <input type="text" class="col-lg-2 form-control" readonly value="{{item.total}}">
                    </div>
                       
                    {% endfor %}

                </div>
            </div>
        </div>
</div>
{% block js_page %}
<script>
    $(document).ready(function () {
        $("#tablaDetail").DataTable({
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "info": false,
            searching:false,
            paging:false,
            autoWidth: true,
            destroy: true,
            responsive:true,
            columnDefs: [{
                    targets: [-1],
                    orderable: false,
                    render: function (data, type, row) {
                        return '$' + parseFloat(data).toFixed(2);
                    }
                },

                {
                    targets: [-3],
                    orderable: false,
                    render: function (data, type, row) {
                        return '$' + parseFloat(data).toFixed(2);
                    }
                },
            ],
        })
    });
    function pdf(id){
        window.open("/fac/ventas/invoice/pdf/"+id,"_blank")

    }
</script>
{% endblock js_page %}