<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <table class="table  table-hover" id="tablaSearch" style="width: 100%;">
                        <thead>
                            <th>Código</th>
                            <th>Cod.barra</th>
                            <th>Descripción</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th class="all">Acciones</th>
                        </thead>
                        <tbody>
                            {% for item in obj %}
                            <tr>
                                <td class="id">{{item.codigo}}</td>
                                <td>{{item.codigo_barra}}</td>
                                <td>{{item.descripcion}}</td>
                                <td class="stock">{{item.stock}}</td>
                                <td>{{item.precio}}</td>
                                <td>
                                    <button
                                        onclick="seleccionarProducto({{item.stock}},{{item.id}},'{{item.codigo}}','{{item.descripcion}}',{{item.precio}})"
                                        class="btn btn-warning" id="btnselect"><i
                                            class="far fa-hand-pointer"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% block js_page %}
<script>
    $(document).ready(function () {
        $("#tablaSearch").DataTable({
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
        })
    });

    $("tr>.id").each(function (index, element) {
        if($(this).parent().find(".stock").text()!=0){   
            for (const p in vent.items.products) {
                if($(this).text()==vent.items.products[p].codigo){
                    console.log( $(this).parent().find(".stock").text()+"-"+vent.items.products[p].cantidad )
                    var stockactual = $(this).parent().find(".stock").text()
                    var stock = stockactual - vent.items.products[p].cantidad   
                    $(this).parent().find(".stock").text(stock)
                }
            }

    //         // for (const p in vent.items.products) {
    //         //     console.log($(element).text()+"=="+vent.items.products[p].codigo)

    //         //     if ($(element).text() == vent.items.products[p].codigo) {
    //         //     var stockactual = $(this).parent().find(".stock").text()
    //         //     var stock = stockactual - vent.items.products[0].cantidad   
    //         //     $(this).parent().find(".stock").text(stock)
    //         //     }
    //         // }
         }

     });

    function seleccionarProducto(stock,id, codigo, descripcion, precio) {
        if(stock==0){
            mensaje("No hay stock para este producto","red")
            return false
        }
        $("#codigo").val(codigo)
        $("#precio").val(precio)
        $("#cantidad").val(1)

        $("#descripcion").val(descripcion)
        searchproduct.close()
        $("#codigo").select()
        $("#codigo").focus()
        console.clear()

    }
</script>
{% endblock js_page %}