{% extends "base/base.html" %}
{% block collapse %}collapse show{% endblock collapse %}
{% block navcatalogo %}nav-item active{% endblock navcatalogo %}

{% block producto %}collapse-item active{% endblock producto %}
{% block pagecontent %}
<div class="container-fluid">
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Acciones</div>
          <a class="dropdown-item btnNewProduct" href="#"><i class="far fa-calendar-plus"></i>&nbsp;Nuevo producto</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
    
        
        <table class="table tabled-striped table-hover" id="tablaProductos">
            <thead>
                <th>Sub.Cat.</th>
                <th>Código</th>
                <th>Barra</th>
                <th>Descripción</th>
                <th>Existencia</th>
                <th>Marca</th>
                <th>Estado</th>

                <th class="all">Acciones</th>
            </thead>
            <tbody>
           
                <!-- {% for item in obj  %}
                <tr>
                    <td>{{item.subcategoria}}</td>
                    <td>{{item.codigo}}</td>
                    <td>{{item.codigo_barra}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.marca}}</td>
                    <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
                
                    <td>
                        <a href="#" onclick="return abrir_modal('{% url 'inv:product_edit' item.id %}')" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                        <a  href="{% url 'inv:product_inactive' item.id %}" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>

                    </td>
                  </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock pagecontent %}
{% block js_page %}
  <script>
    $(document).ready(function () {
     var tablaProductos=$("#tablaProductos").DataTable({
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        responsive:true,
      ajax: {
        url: "{% url 'inv:product_list' %}",
        type: "POST",
        data: {
          "action": "searchData"
        },
        dataSrc: ""
      },
      columns: [{
          "data": 'subcategoria.descripcion',className: "text-center middle",
        },
        {
          "data": 'codigo',className: "middle"
        },
        {
          "data": 'codigo_barra',className: "middle"
        },
        {
          "data": 'descripcion',className: "middle"
        },
       
        {
          "data": 'stock',className: "middle"

        },
       
        {
          "data": 'marca.descripcion',className: "middle"

        },
        {
          "data": 'estado',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return "Activo";
            } else {
              return "Inactivo"
            }
          }
        },
        {
          "data": 'estado',className:"text-center middle"
        },


      ],
      columnDefs: [{
          targets: [-1],

          render: function (row, data, index) {
            var buttons =
              '<a  href="#" class="btn btn-warning btn-circle btnEdit mr-1" role="button" data-url="cliente/edit/' +
              row.id +
              '"><i class="far fa-edit" ></i></a><a class="btn btn-success btn-circle" href="#" target="reportes"><i class="fas fa-thumbs-up"></i></a>';

            return buttons;

          },

        },


      ],
      "createdRow": function (row, data, index) {
        if (!data["estado"]) {
          $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
          $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

        }
      },
        "language":{
          "sSearch":"Buscar",
          "emptyTable":"No hay datos disponibles para esta tabla",
          "lengthMenu":"Mostrando _MENU_ entradas",
          "loadingRecords":"Cargando...",
          "processing":"Procesando...",             
          "zeroRecords":"No se encontraron resultados",
          "infoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 entradas",

        }
      });
      $('.btnNewProduct').on("click", function (e) {
      e.preventDefault()
      var template = $(this).attr("data-url");
      var jc = $.confirm({
        title: "Nuevo Producto",
        content: "URL:new",
        columnClass: 'col-lg-8 col-md-8 col-sm-10',
        icon: "fa fa-plus-circle",
        type: "blue",
        animateFromElement: true,
        buttons: {
          formSubmit: {
            text: 'Registrar producto',
            btnClass: 'btn-blue',
            action: function () {
           

              form = this.$content.find('.formProduct')
              $.ajax({
                type: "POST",
                url: "{% url 'inv:product_new' %}",
                data: form.serialize(),
                dataType: "json",
                success: function (data) {

                  if (data["stat"] == "ok") {
                    mensaje("Producto registrado")
                    jc.close()
                   tablaProductos.ajax.reload()

                  } else {
                
                    $("#formProduct").html($(data).html())
                  
                    $(":text").keypress(function (e) {
                      $(this).removeClass("is-invalid")
                    });

                    // var go = ""
                    // for (var [key, value] of Object.entries(data.error)) {
                    //   go += '<br>' + value; // "a 5", "b 7", "c 9"
                    // }
                    // mensaje(go, "red")

                  }
                }

              }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
                alert("done:" + textStatus + ': ' + errorThrown);
              }).always(function (data) {

              });


              return false;

            }
          },
          cancel: function () {},
        },


      });

    });
    });
  </script>
{% endblock js_page %}