{% if obj %}
<form method="POST" id="formProduct" role="form" class="formProduct" action="{% url 'inv:product_edit' obj.pk %}">
  {% else %}
  <form method="POST" id="formProduct" role="form" class="formProduct" action="{% url 'inv:product_new' %}">
    {% endif %}
    {% csrf_token %}
    <input type="hidden" value="{% if obj %}edit{% else %}add{% endif %}" name="action">

    <div class="card-body">
      <div class="dropdown-divider">

      </div>

      {{form}}
      <div class="dropdown-divider"></div>

    </div>
    <button type="submit" class="btn btn-danger" style="display: none;">
      &nbsp;Guardar</button>
  </form>