{% extends "base/base.html" %}
{% block navusuario %}nav-item active{% endblock  %}
{% block collapseUsuarios %}collapse show{% endblock  %}
{% block usuario_list %}collapse-item active{% endblock  %}
{% block pagecontent %}

<div class="container-fluid">

  <div class="card shadow">
    <!-- Card Header - Dropdown -->
    <div class="bg-gray-900 text-white card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold ">Listado de Usuarios</h6>
      <a class="btn btn-primary NewUser" href="#"><i class="fa fa-plus-circle "></i>&nbsp;Nuevo usuario</a>
    </div>
    <!-- Card Body -->
    <div class="card-body ">

      <table class="table  table-hover dt-responsive" id="TablaUser" style="width: 100%;">
        <thead>
          <tr>
            <th class="all">Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Imagen</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>



      </table>
    </div>
  </div>
</div>

{% endblock pagecontent %}
{% block js_page %}
<script>
      var date_now = new moment().format('YYYY-MM-DD');

  $(document).ready(function () {
    tabla = $("#TablaUser").DataTable({
      processing: true,
      responsive: true,
      ajax: {
        url: "{% url 'user:userList' %}",
        type: "POST",
        data: {
          "action": "searchData"
        },
        dataSrc: ""
      },
      lengthMenu: [
        [5, 10, 50, -1],
        ['5 ', '10 ', '50', 'Todos']
      ],
      lengthChange: true,
      buttons: [
      {
          extend: "excelHtml5",
          text: "<i class='fas fa-file-excel'></i>&nbsp;Exportar a Excel",
          titleAttr: "excel",
          className: "btn btn-success"
        },
     
        {
          extend: "pdfHtml5",
          text: "<i class='fas fa-file-pdf'></i>&nbsp;Exportar a PDF",
          titleAttr: "PDF",
          className: "btn btn-danger",
          download: "open",
          orientation: "landscape",
          pageSize: "LEGAL",
          exportOptions: {
                    columns: [ 0, 1, 2, 3,4,6,7 ]
                },
          customize: function (doc) {
            doc.styles = {
              header: {
                fontSize: 18,
                bold: true,
                alignment: "center",
              },
              subheader: {
                fontSize: 13,
                bold: true
              },
              quote: {
                italics: true
              },
              small: {
                fontSize: 8
              },
              tableHeader: {
                bold: true,
                fontSize: 11,
                color: "white",
                fillColor: "#2d4154",
                alignment: "center"
              }

            };
            doc.content[1].table.widths = ["10%","20%", "20%", "15%", "15%" ,"10%", "10%"];
            doc.content[1].margin = [0, 35, 0, 0];
            doc.content[1].layout = {};
            doc["footer"] = (function (page, pages) {
              return {
                columns: [{
                    alignment: "left",
                    text: ["Fecha de creación:", {
                      text: date_now
                    }]
                  },
                  {
                    alignment: "right",
                    text: ["página", {
                      text: page.toString()
                    }, "de", {
                      text: pages.toString()
                    }]
                  }
                ],
                margin: 20
              }
            })
          }
        },   {
          extend: "print",
          text: "<i class='fas fa-print'></i>&nbsp;Imprimir",
          className: "btn btn-info"
        },
      ],
      "language": {
        buttons: {
          pageLength: {
            _: "Mostrar %d registros",
            '-1': "Todos",
          }
        },
        "sSearch": "Buscar",
        "emptyTable": "No hay datos disponibles para esta tabla",
        "lengthMenu": "Mostrar _MENU_ entradas",
        "loadingRecords": "Cargando...",
        "processing": '<div class="spinner-border text-primary" style="width: 3rem; height: 3rem; role="status"><span class="sr-only">Loading...</span></div>',
        "zeroRecords": "No se encontraron resultados",
        "info": "Mostrando _START_ al _END_ de _TOTAL_ entradas",
        "infoEmpty": "Mostrando 0 al 0 de 0 entradas",
      },
      "order": [
        [0, 'asc']
      ],
      columns: [{
          "data": 'id',
          className: "text-center middle",
        },
        {
          "data": 'first_name',
          className: "middle"
        },
        {
          "data": 'last_name',
          className: "middle"
        },
        {
          "data": 'username',
          className: "middle"
        },
        {
          "data": 'date_joined',
          className: "middle"

        },
        {
          "data": 'image',
          className: "text-center middle",
          render: function (data, type, row) {
            return "<img src='" + row.image +
              "' class='img-fluid mx-auto d-block img' id='' style='width:40px;height:40px;'>"

          }
        },
        {
          "data": 'is_superuser',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return "Administrador";
            } else {
              return "Usuario"
            }
          }
        },
        {
          "data": 'is_active',
          className: "estado middle",
          render: function (data, type, row) {
            if (data) {
              return "Activo";
            } else {
              return "Inactivo"
            }
          }
        },
        {
          "data": 'id',
          className: "text-center middle"
        },


      ],
      columnDefs: [{
          targets: [-1],

          render: function (row, data, index) {
            var buttons =
              '<a  href="#" class="btn btn-warning btn-circle EditUser mr-1" role="button" data-url="cliente/edit/' +
              row.id +
              '"><i class="far fa-edit" ></i></a><a class="btn btn-success btn-circle" href="#" target="reportes"><i class="fas fa-thumbs-up"></i></a>';

            return buttons;

          },

        },


      ],
      "createdRow": function (row, data, index) {
        if (!data["estado"]) {
          $('.btn-success', row).eq(0).removeClass().addClass("btn btn-danger btn-circle")
          $(".fa-thumbs-up", row).eq(0).removeClass().addClass("fas fa-thumbs-down")

        }
      },
      initComplete: function (settings, json) {
        $('.NewUser').attr("href", "{% url 'user:create_user' %}")
     
        tabla.buttons().container().appendTo('#TablaUser_wrapper .col-md-6:eq(0)');
        // $(".img").each(function () {
        //   $(this).on("click", function () {
        //     src = $(this).attr("src")
        //     $.alert({
        //       title: "",
        //       theme: "material",
        //       animateFromElement: true,
        //       content: '<img src="' + src + '">',
        //       escapeKey: 'Cerrar',
        //       buttons: {
        //         Cerrar: function () {
        //         },
        //       }
        //     });

        //   })
        // });
        $(".img").css("cursor","pointer")



      }
    });

    $(document).on("click",".img",function(){
      $(".img").css("cursor","pointer")


      src = $(this).attr("src")
            $.alert({
              title: "",
              theme: "material",
              animateFromElement: true,
              content: '<img src="' + src + '">',
              escapeKey: 'Cerrar',
              buttons: {
                Cerrar: function () {
                },
              }
            });

    })
    $(document).on("click", ".EditUser", function (e) {
      e.preventDefault()
      var tr = tabla.cell($(this).closest("td")).index();
      var data = tabla.row(tr.row).data();

      de = $.confirm({
        title: "Editar usuario",
        content: "URL:edit/" + data.id,
        columnClass: 'col-lg-8 col-md-10 col-sm-10 ',
        icon: "fa fa-edit",
        type: "orange",
        theme: "material",
        scrollToPreviousElement: false,

        buttons: {
          Confirm: {
            text: 'Guardar cambios',
            btnClass: 'btn-blue',

            action: function url(e) {

              this.$content.find("#formUser").children("#btnEditUser").trigger('click');

              return false;
            }
          },

          cancel: function () {},
        },



      });
    });
    $('.NewUser').on("click", function (e) {
      e.preventDefault()
      var template = $(this).attr("data-url");
      var jc = $.confirm({
        title: "Nuevo Usuario",
        content: "URL:new",
        columnClass: 'col-lg-8 col-md-10 col-sm-10 ',
        icon: "fa fa-plus-circle",
        theme: "material",
        type: "blue",
        scrollToPreviousElement: false,
        buttons: {
          formSubmit: {
            text: 'Registrar Usuario',
            btnClass: 'btn-blue',
            action: function () {


              form = this.$content.find('.needs-validation')[0]
              console.log(form)
              var paramaters = new FormData(form)

              $.ajax({
                type: "POST",
                url: "{% url 'user:create_user' %}",
                data: paramaters,
                dataType: "json",
                processData: false, // tell jQuery not to process the data
                contentType: false,
                success: function (data) {
                  console.log(data)
                  if (data["stat"] == "ok") {
                    mensaje("Usuario registrado")
                    jc.close()
                    $("#TablaUser").DataTable().ajax.reload()

                  } else {

                    $("#form").html($(data).html())

                    $(":text").keypress(function (e) {
                      $(this).removeClass("is-invalid")
                    });

                    // var go = ""
                    // for (var [key, value] of Object.entries(data.error)) {
                    //   go += '<br>' + value; // "a 5", "b 7", "c 9"
                    // }
                    // mensaje(go, "red")

                  }
                }

              }).done(function (data) {}).fail(function (jqXHR, textStatus, errorThrown) {
                alert("done:" + textStatus + ': ' + errorThrown);
              }).always(function (data) {

              });


              return false;

            }
          },
          cancel: function () {},
        },


      });

    });


  });
</script>
{% endblock js_page %}